@import url("https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
* {
  transition: 0.5s;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  scroll-behavior: smooth;
}

section {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyDark {
  background: #000 !important;
  color: #fff;
  font-family: "PT Sans", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 1rem;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.logo {
  margin: 20px 20px;
}
.logo a {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #fff;
  background: linear-gradient(to right, #8404ec, #cf07f7);
  border-radius: 40px;
  padding: 10px 30px;
  text-decoration: none;
}
.logo a span {
  color: #f15512;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.navitem {
  padding: 10px 10px;
  margin: 0 10px;
  position: relative;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.navitem a {
  padding: 10px 40px;
  font-weight: 700;
  color: #000;
  font-size: 15px;
  text-decoration: none;
}

@media (min-width: 1550px) {
  .navitem a,
  .logo a {
    font-size: 1.8rem;
  }
}
.navitem a:hover::before {
  background: conic-gradient(#fff 2deg, red 100deg, #fff 90deg, #fff 190deg, #fff 200deg, red 210deg, red 280deg, #fff 90deg, #fff 150deg);
}

@media (min-width: 984px) {
  .navitem a::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 6px);
    background: conic-gradient(#fff 2deg, #f58b00 100deg, #fff 90deg, #fff 190deg, #fff 200deg, #f58b00 210deg, #f58b00 280deg, #fff 90deg, #fff 150deg);
    z-index: -1;
    bottom: -3px;
    border-radius: 17px;
    left: -2px;
  }
  .navitem a:hover::before {
    animation: animate 3s linear infinite;
    background: conic-gradient(from var(--b), #fff 2deg, #06deee 100deg, #fff 90deg, #fff 190deg, #fff 200deg, #06deee 210deg, #06deee 280deg, #fff 90deg, #fff 150deg);
  }
  .navitem:hover a {
    font-size: 25px;
    color: #06deee;
    font-weight: 100;
  }
}
.profile,
.copybar {
  display: none;
}

@media (max-width: 989px) {
  .nav_list {
    position: absolute;
    left: -500px;
    display: grid;
    top: 10px;
    height: 80vh;
    padding: 15px;
    background: linear-gradient(90deg, #3b12f1, #e315d9);
    border-radius: 10px;
  }
  .nav_list .profile {
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav_list .profile::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background: gray;
    bottom: -280%;
  }
  .nav_list .copybar {
    position: relative;
    width: 100%;
    height: 20%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_list .copybar h5:hover,
  .nav_list .profile-card:hover {
    transform: scale(1.1);
  }
  .nav_list .copybar::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background: gray;
    top: 70px;
    left: 20%;
    top: -25px;
  }
  .nav_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    padding: 0;
  }
  .nav_list li a {
    margin: 10px 25px;
    text-align: center;
  }
  .nav_list li:hover {
    transform: scale(1.1);
  }
  .show {
    left: 0;
  }
  .dark {
    position: fixed;
    right: 10px;
  }
}
header {
  background: red;
}

.dark {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}
.dark i {
  font-size: 1.5em;
  border: 3px solid #fd8f00;
  color: #fd8f00;
  margin: 0;
  border-radius: 50%;
  padding: 8px 10px;
  font-weight: 900;
}
.dark i:hover {
  background: #fd8f00;
  color: #fff;
  transform: scale3d(1.2);
  border: none;
  font-size: 1.8em;
}
.dark .moon {
  display: block;
}
.dark .sun {
  display: none;
}

.active .sun {
  display: block;
}
.active .moon {
  display: none;
}

.social ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social ul a {
  padding: 5px 10px;
  margin: 0 10px;
  background: #3b12f1;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}
.social ul a:hover {
  transform: scale(1.2);
  background: #cf07f7;
  color: #fff;
}

@media (max-width: 1208px) {
  .social {
    display: none;
  }
}
.toggle_set {
  position: fixed;
  right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background: transparent;
}

.toggle_set.active {
  width: 14rem;
  transform: rotate(-360deg);
}

@media (max-width: 600px) {
  .toggle_set.active {
    width: 25%;
  }
}
.toggle {
  outline: none;
  border: none;
  background: #3b12f1;
  padding: 0 7px;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
}
.toggle b {
  font-size: 4rex;
  border: none;
  color: #fff;
}

.toggle.active {
  background: red;
}

.toggle b.on,
.toggle.active b.off {
  display: block;
}

.toggle b.off,
.toggle.active b.on {
  display: none;
}

@media (min-width: 989px) {
  .toggle {
    display: none;
  }
}
.home {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  height: 90vh;
  padding: 0 5%;
  border: 4px solid #6b6666;
  border-radius: 10px;
}
.home .home_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 718px) {
  .home .home_text {
    text-align: center;
  }
}
@media (max-width: 718px) {
  .home {
    padding: 20px 0 0 0 !important;
    grid-gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .homeSocial {
  display: none;
}
@media (max-width: 1208px) {
  .home .homeSocial {
    display: block;
    position: absolute !important;
    right: 10px;
    top: 5rem;
  }
  .home .homeSocial ul {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .home .homeSocial ul a {
    margin: 10px 0;
    padding: 5px 10px;
    background: #3b12f1;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
  }
  .home .homeSocial ul a:hover {
    transform: scale(1.2);
    background: #cf07f7;
    color: #fff;
  }
}
.home .clearfix {
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  background: #fff;
}
@media (max-width: 354px) {
  .home .clearfix .img-fluid {
    width: 130px !important;
  }
}
@media (max-width: 724px) {
  .home .clearfix .img-fluid {
    width: 200px;
  }
}
@media (min-width: 1120px) {
  .home .clearfix .img-fluid {
    width: 400px;
  }
}
.home .clearfix::after {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  background: linear-gradient(90deg, #3b12f1, #e70dcd, #06f5d5, #dad9d9, #155de3);
  filter: blur(10px);
  z-index: -1;
  inset: -2px;
  border-radius: 50%;
}
.home .home_text {
  overflow: hidden;
}
.home .home_text h3 {
  font-size: 1.4em !important;
  margin-bottom: 15px;
}
@media (max-width: 550px) {
  .home .home_text h3 {
    font-size: 1.2em !important;
  }
}
@media (max-width: 340px) {
  .home .home_text h3 {
    font-size: 0.9em !important;
  }
}
.home .home_text h3 span {
  font-size: 1.2em;
  color: #f15512;
}
.home .home_text h1 {
  font-size: 4em;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  width: 90%;
}
@media (max-width: 1024px) {
  .home .home_text h1 {
    font-size: 3em !important;
  }
}
@media (max-width: 658px) {
  .home .home_text h1 {
    font-size: 2em !important;
  }
}
.home .home_text .myName {
  background: linear-gradient(90deg, #cf07f7, #f15512, #155de3, #fd8f00);
  width: -moz-max-content;
  width: max-content;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media (max-width: 1024px) {
  .home .home_text .myName {
    width: auto;
  }
}
.home .home_text h5 {
  font-size: 1.7em !important;
  margin-bottom: 15px;
}
.home .home_text h5 span {
  font-size: 1.5em;
  color: #f15512;
}
@media (max-width: 550px) {
  .home .home_text h5 span {
    font-size: 1em !important;
  }
}
.home p {
  cursor: pointer;
  font-weight: 800;
}
.home p span {
  color: #f15512;
  font-size: 1.1em;
}
@media (max-height: 668px) {
  .home p {
    font-size: 1em !important;
    line-height: 1.4 !important;
  }
}
.home .me_txt {
  color: #155de3;
}
.home .me_txt strong {
  color: #f15512;
}
.home p:hover {
  color: #3b12f1;
  transform: scaleY(1.1);
  font-weight: bold;
}

.progress_bar {
  padding: 30px 2%;
  min-height: 130dvh;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.progress_bar .box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 5rem;
  align-items: center;
  justify-content: center;
}
.progress_bar .box .boxContent {
  width: 250px;
  position: relative;
  height: 330px;
  border-radius: 10px;
  display: grid;
  background: #fff;
  border: 0.5px solid var(--clr);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.progress_bar .box .boxContent .svg {
  text-align: center;
}
.progress_bar .box .boxContent .svg .textxml {
  font-size: 1.4em;
  margin: 0 1rem;
  font-weight: 600;
}
.progress_bar .box .boxContent .circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: conic-gradient(var(--clr) 3.6deg, #fff 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.progress_bar .box .boxContent .circle h3 {
  position: relative;
  color: var(--clr);
  font-weight: 900;
}
.progress_bar .box .boxContent .circle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  background: #fff;
}
.progress_bar .box .boxContent::after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(45deg, var(--clr), transparent, transparent, var(--clr));
  z-index: -1;
  inset: -5px;
  filter: blur(2px);
  border-radius: 10px;
}
.progress_bar .box .boxContent:hover::after {
  animation: animate 2s linear infinite;
}
.progress_bar .box .boxContent:hover .textxml,
.progress_bar .box .boxContent:hover ion-icon {
  color: var(--clr);
  font-size: 1.4em;
  font-weight: 900;
}

@media (max-width: 1065px) {
  .progress_bar {
    gap: 7rem;
  }
  .progress_bar .box {
    gap: 5rem;
  }
}
@media (max-width: 1065px) and (max-width: 950px) {
  .progress_bar {
    flex-direction: row;
    gap: 5rem;
  }
  .progress_bar .box {
    gap: 5rem;
  }
}
@media (max-width: 1065px) and (max-width: 640px) {
  .progress_bar {
    flex-direction: column;
    gap: 2rem;
  }
  .progress_bar .box {
    gap: 2rem;
  }
}
@property --b {
  syntax: "<angle>";
  inherits: false;
  initial-value: 30deg;
}
@keyframes animate {
  0% {
    --b: 0deg;
  }
  100% {
    --b: 360deg;
  }
}
.Projects {
  height: -moz-min-content;
  height: min-content;
}

.Project-container {
  font-family: "PT Sans", sans-serif;
  position: relative;
  background: #8404ec;
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.Project-container .main_projects,
.Project-container .sub_projects {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  height: 60%;
  width: 95%;
  display: grid;
  padding: 10px;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.Project-container .main_projects .project01,
.Project-container .main_projects .project02,
.Project-container .sub_projects .project01,
.Project-container .sub_projects .project02 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
}
.Project-container .main_projects .project01 a,
.Project-container .main_projects .project02 a,
.Project-container .sub_projects .project01 a,
.Project-container .sub_projects .project02 a {
  background: red;
  width: 100%;
  padding: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
}
.Project-container .main_projects .project01 b,
.Project-container .main_projects .project02 b,
.Project-container .sub_projects .project01 b,
.Project-container .sub_projects .project02 b {
  font-size: 1.3rem;
}
.Project-container .main_projects .project01 img,
.Project-container .main_projects .project02 img,
.Project-container .sub_projects .project01 img,
.Project-container .sub_projects .project02 img {
  width: 100%;
}
.Project-container .sub_projects {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 750px) {
  .Project-container .main_projects,
  .Project-container .sub_projects {
    grid-template-columns: 1fr;
  }
}
.Project-container h2 {
  margin: 0;
  padding: 0;
  width: -moz-max-content;
  width: max-content;
  top: 0.5rem;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to right, #fd00a9, #f1ed12, #06f5d5, #2ef506);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.Project-container:hover {
  box-shadow: 18px 0 87px 0 rgba(0, 0, 0, 0.15);
}

.sub-service {
  padding: 0 8%;
}
@media (max-width: 800px) {
  .sub-service {
    min-height: 100dvh;
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 789px) {
  .item [data-aos=flip-left].aos-animate {
    background: rgba(0, 0, 0, 0.4);
  }
}

.sub-box {
  padding: 45px 45px 45px 45px;
  cursor: pointer;
}

.sub-img img {
  max-width: 100%;
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}

.sub-box h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.sub-box p {
  font-size: var(--p-font);
  color: var(--p-color);
  line-height: 29px;
}

.sub-box:hover {
  background: rgba(129, 121, 121, 0.4);
  box-shadow: 18px 0px 87px 0px rgba(10, 15, 70, 0.07);
  border-radius: 12px;
  will-change: transform;
  transform: perspective(1000px) rotateX(4.8deg) rotateY(10.23deg) scale3d(1, 1, 1, 1);
}

@media (max-width: 850px) {
  footer {
    display: grid !important;
  }
}
footer {
  width: 100%;
  height: auto;
  display: flex;
  font-family: cursive;
  text-decoration: none;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer h1 {
  font-size: 2em;
  margin-bottom: 1rem;
  font-weight: 900;
}
footer p {
  display: flex;
  align-items: center;
  font-weight: 900;
  color: #3d3c3c;
}
footer p a {
  display: flex;
  color: #000;
}
footer p i,
footer p ion-icon,
footer p svg {
  padding: 0 0.5rem;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  font-weight: 700;
}
footer p svg {
  font-size: 1.2rem;
}
footer p .copy.Iactive {
  transform: rotate(360deg);
}
footer p .copy.Active {
  transform: rotate(-360deg);
}
footer p:hover {
  color: #cf07f7;
}
footer p:hover i,
footer p:hover span,
footer p:hover b {
  color: #cf07f7;
}
footer p:hover ion-icon:hover {
  color: #2ef506;
}
footer .foot {
  height: auto;
  width: 100%;
  padding: 1rem;
  text-align: center;
}
footer .foot .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
footer .foot .social ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .foot .social ul a {
  padding: 5px 10px;
  margin: 0 10px;
  background: linear-gradient(to right, #3b12f1, #e70dcd);
  border-radius: 25%;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}
footer .foot .social ul a:hover {
  transform: scale(1.2);
  background: linear-gradient(to right, #cf07f7, #06f5d5);
  color: #fff;
}
footer .foot:hover {
  box-shadow: 0 35px 85px rgba(0, 0, 0, 0.15);
  background: #fff;
}

#about {
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
}

.about {
  width: 100%;
  height: 100dvh;
  background: #3b12f1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about .about-img p {
  width: 400px !important;
  box-shadow: 3px 5px 20px rgb(64, 120, 158);
}
@media (max-width: 850px) {
  .about .about-img p {
    width: 250px !important;
  }
}
.about .about-img img {
  width: 300px !important;
  box-shadow: 3px 5px 20px rgb(64, 120, 158);
}
@media (max-width: 850px) {
  .about .about-img img {
    width: 250px !important;
  }
}
.about .about_text {
  color: #fff;
  width: 50%;
  height: -moz-min-content;
  height: min-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: circle;
  background: rgba(0, 0, 0, 0.4);
}
.about .about_text span {
  color: #f15512;
}
.about .about_text .text {
  display: inline-block;
  font-size: 1.1em;
}
.about .about_text .text li {
  padding: 10px 5px;
  margin: 10px;
  font-size: larger;
}
@media (max-width: 850px) {
  .about {
    flex-direction: column;
  }
  .about .about_text {
    width: 90%;
  }
  .about .about_text .text li {
    font-size: 1em;
  }
}
@media (max-width: 380px) {
  .about .about_text {
    width: 95%;
  }
  .about .about_text .text li {
    font-size: 0.7em;
  }
}

.my-me {
  font-family: "IBM Plex Sans", sans-serif;
  height: auto;
  padding: 20px;
}
.my-me .my-self-ex {
  padding: 15px;
  overflow: auto;
  color: #fff;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.4);
}
.my-me .my-self-ex h2 {
  text-align: center;
}
.my-me .my-self-ex strong,
.my-me .my-self-ex span {
  color: #f15512;
}
.my-me .my-self-ex .texts {
  text-align: start;
  width: 85%;
  margin: auto;
}

.lgp {
  height: 35rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.lgp .boxing {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  box-shadow: -5px -5px 45px 10px rgba(97, 92, 92, 0.25);
}
.lgp .glass {
  position: relative;
  width: 250px;
  height: 250px;
  border: 3px solid var(--cor);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  background: var(--cor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 -45px;
  transform: rotate(calc(var(--r) * 1deg));
}
.lgp .glass i {
  font-size: 5rem;
  color: #fff !important;
}
.lgp .glass::before {
  content: attr(data-text);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lgp .boxing:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

@media (max-width: 840px) {
  .lgp .glass {
    width: 200px;
    height: 200px;
  }
  .lgp:hover .glass {
    height: 170px;
  }
}
@media (max-width: 650px) {
  .lgp .glass {
    width: 180px;
    height: 180px;
  }
  .lgp .glass i {
    font-size: 2.5rem;
  }
}
@media (max-width: 650px) and (max-width: 520px) {
  .lgp .glass {
    width: 150px;
    height: 150px;
  }
  .lgp .glass i {
    font-size: 1.5rem;
  }
  .lgp:hover .glass {
    font-size: 0.9em;
    height: 100px;
  }
}
@media (max-width: 989px) {
  nav {
    grid-template-columns: none;
  }
}
@media (max-width: 380px) {
  nav .logo {
    margin: 10px 0 0 0;
  }
  .logo a {
    font-size: 1rem;
  }
  .lgp .glass {
    width: 120px;
    height: 120px;
  }
  .lgp .glass i {
    font-size: 1.5rem;
  }
}
.bodyDark .navitem {
  background: #000;
}
.bodyDark .navitem a {
  color: #fff;
}
.bodyDark .home .clearfix {
  background: #000;
}
.bodyDark .progress_bar .box .boxContent {
  background: #000;
}
.bodyDark .sub-box:hover {
  background: #3d3c3c;
}
@media (max-width: 759px) {
  .bodyDark [data-aos=flip-left].aos-animate {
    background: #4b4747;
  }
}
.bodyDark footer {
  background: #252525;
}
.bodyDark footer p,
.bodyDark footer a,
.bodyDark footer ion-icon,
.bodyDark footer i {
  color: #f5f5f5;
}
.bodyDark footer .foot:hover {
  box-shadow: 0 35px 85px rgba(10, 15, 70, 0.07);
  background: #3d3c3c;
}

@media (min-width: 1650px) {
  body {
    font-size: 1.5rem;
  }
  .my-me .my-self-ex {
    line-height: 50px;
  }
}/*# sourceMappingURL=style1.css.map */