@import url("https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
$color: #155de3;
$color1: #f15512;
$linear: linear-gradient(to right, #3b12f1, #e70dcd);

// version 2.0.2
// margin
$margin: 15px;

* {
    font-family: 'itim', cursive;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    background: #e6e6e6;
}

section {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden !important;

}

.bodyDark {
    background: #000 !important;
    color: #fff;
    transition: .20s;
}

// .bodyDark .sticky {
//     background: #000;
//     box-shadow: 0px 0px 19px #3d3c3c;
// }

// header.sticky {
//     position: fixed;
//     padding: 10px 5%;
//     background: transparent;
//     transition: .30s;
//     box-shadow: 0px 0px 19px #dad9d9;
// }


header {
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 6%;

    .logo {
        background: linear-gradient(to right, #8404ec, #cf07f7);
        padding: .5rem 2rem;
        border-radius: 40px;

        a {
            font-size: 1.3rem;
            letter-spacing: 3px;
            color: #fff;


            span {
                color: #f15512;
            }
        }
    }

    .nav_list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    @media (max-width: 989px) {
        .nav_list {
            display: grid;
        }
    }

    .navitem {
        padding: 10px 10px;
        margin: 0 10px;
        position: relative;
        border-radius: 15px;
        background: #fff;
        cursor: pointer;

    }

    .bodyDark .navitem {
        background: #000;
    }

    .bodyDark a,
    .bodyDark .navitem a {
        color: #fff;
    }

    .navitem a {
        padding: 10px 40px;
        font-weight: 700;
        color: #000;
        font-size: 15px;
        text-decoration: none;
    }

    .navitem a:hover::before {
        background: conic-gradient(#fff 2deg, red 100deg, #fff 90deg,
                #fff 190deg, #fff 200deg, red 210deg, red 280deg,
                #fff 90deg, #fff 150deg);
    }

    .navitem a::before {
        position: absolute;
        content: '';
        width: calc(100% + 4px);
        height: calc(100% + 6px);
        background: conic-gradient(#fff 2deg, #f58b00 100deg, #fff 90deg, #fff 190deg, #fff 200deg, #f58b00 210deg, #f58b00 280deg, #fff 90deg, #fff 150deg);
        z-index: -1;
        bottom: -3px;
        border-radius: 17px;
        transition: .40s;
        left: -2px;
    }

    // .navitem a:hover::before {
    //     animation: animate 3s linear infinite;
    //     background: conic-gradient(from var(--b), #fff 2deg, #06deee 100deg, #fff 90deg, #fff 190deg, #fff 200deg, #06deee 210deg, #06deee 280deg, #fff 90deg, #fff 150deg);

    // }

    .navitem:hover a {
        font-size: 25px;
        color: #06deee;
        transition: ease .30s;
        font-weight: 100;
    }

    .navitem .active {
        font-size: 25px;
        background: linear-gradient(to right, #8404ec, #f58b00);
        background-clip: text;
        color: transparent;
    }

    .navitem .active::before {
        position: absolute;
        content: '';
        width: calc(100% + 4px);
        height: calc(100% + 6px);
        background: conic-gradient(from var(--b), #fff 2deg, #cf07f7 100deg, #fff 90deg, #fff 190deg, #fff 200deg, #cf07f7 210deg, #cf07f7 280deg, #fff 90deg, #fff 150deg);
        z-index: -1;
        bottom: -3px;
        border-radius: 17px;
        transition: .40s;
        left: -2px;
        animation: animate 3s linear infinite;
    }


    // @property --b {
    //     syntax: '<angle>';
    //     inherits: false;
    //     initial-value: 40deg;
    // }

    // @keyframes animate {
    //     0% {
    //         --b: 0deg;
    //     }

    //     100% {
    //         --b: 360deg;
    //     }
    // }

}

.dark {
    position: fixed;
    right: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
        font-size: 1.5em;
        border: 3px solid #fd8f00;
        color: #fd8f00;
        margin: 0;
        border-radius: 50%;
        padding: 8px 10px;
        font-weight: 900;
    }

    i:hover {
        background: #fd8f00;
        color: #fff;
        transform: scale3d(1.2);
        transition: .40s;
        border: none;
        font-size: 1.8em;
    }

    .moon {
        display: block;
    }

    .sun {
        display: none;
    }
}


.active {
    .sun {
        display: block;
    }

    .moon {
        display: none;
    }

}

.social {

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            padding: 5px 10px;
            margin: 0 10px;
            background: $linear;
            border-radius: 50%;
            font-weight: bold;
            font-size: 1.5em;
            color: #fff;
        }

        a:hover {
            transform: scale(1.2);
            transition: ease .30s;
            background: linear-gradient(to right, #cf07f7, #06f5d5);
            color: #fff;
        }
    }
}

@media (max-width: 1208px) {
    .social {
        display: none;
    }

}

@media (max-width : 989px) {

    .nav_list {
        background: red;
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center;
        right: 20px;
        width: 20rem;
        height: 0;
        top: 4.2rem;
        transition: .40s;
        border-radius: 20px;
        overflow: hidden;
    }

    .show {
        height: 80vh;
        top: 4.2rem;

    }
}
@media (max-width: 600px) {
    .show{
        width: 15rem;
    }
}

.toggle_set {
    position: fixed;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    background: transparent;
    transition: .50s;

}

.toggle_set.active {
    width: 14rem;
    transform: rotate(-360deg);
}

@media (max-width: 600px) {
    .toggle_set.active {
        width: 25%;
    }
}

.toggle {
    position: relative;
    outline: none;
    border: none;
    background: #3b12f1;
    padding: 0 7px;
    border-radius: 50%;
    margin: 0;
    transition: .5s;
    cursor: pointer;

    b {
        font-size: 4rex;
        border: none;
        color: #fff;

    }
}

.toggle.active {
    background: red;
}

.toggle b.on,
.toggle.active b.off {
    display: block;
}

.toggle b.off,
.toggle.active b.on {
    display: none;
}

@media (min-width : 989px) {
    .toggle {
        display: none;
    }
}

// Form
.home {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin: 0 auto;
    overflow: hidden;

    .home_text {
        @media (max-width: 718px) {
            text-align: center;
        }
    }

    @media (max-width: 718px) {
        padding: 50px 2% !important;
        grid-gap: 1rem;
        display: flex;
        flex-direction: column-reverse;

    }

    .homeSocial {
        display: none;
    }

    @media (max-width: 1208px) {
        .homeSocial {
            display: block;
            position: absolute !important;
            right: 10px;
            top: 5rem;

            ul {
                display: grid;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;

                a {
                    margin: 10px 0;
                    padding: 5px 10px;
                    background: #3b12f1;
                    border-radius: 50%;
                    font-weight: bold;
                    font-size: 1.5em;
                    color: #fff;
                }

                a:hover {
                    transform: scale(1.2);
                    transition: ease .30s;
                    background: #cf07f7;
                    color: #fff;
                }
            }

        }
    }

    .clearfix {
        padding: 0;
        margin: auto;
        border-radius: 50%;
        position: relative;
        background: #fff;

        .img-fluid {
            @media (max-width: 724px) {
                width: 200px;
            }

            @media (min-width: 1120px) {
                width: 400px;
            }
        }
    }

    .clearfix::after {
        content: '';
        position: absolute;
        top: 0;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        background: linear-gradient(90deg, #3b12f1, #e70dcd, #06f5d5, #dad9d9, #155de3);
        filter: blur(10px);
        z-index: -1;
        inset: -2px;
        border-radius: 50%;
    }

    @media(max-width: 1118px) {
        padding: 20px 10%;
        transition: .40s;
    }

    @media (min-width: 1120px) {
        width: max-content;
    }

}

.bodyDark .home {
    .clearfix {
        background: #000;
    }
}



.home_text {
    transition: ease .50s;
    overflow: hidden;

    h3 {
        font-size: 1.4em;
        margin-bottom: $margin;
        transition: ease .50s;

        @media (max-width: 550px) {
            font-size: 1.2em;
            transition: ease .50s;

        }

        span {
            font-size: 1.2em;
            color: #f15512;
            transition: ease .50s;
        }
    }

    h1 {
        font-size: 4em;
        margin-bottom: $margin;
        transition: ease .50s;
        cursor: pointer;
        position: relative;
        width: 90%;


        @media (max-width: 718px) {
            font-size: 2.5em;
            transition: ease .50s;

        }

        @media (max-width: 1024px) {
            font-size: 3em;
        }

    }

    .myName {
        background: linear-gradient(90deg, #cf07f7, #f15512, #155de3, #fd8f00);
        width: max-content;
        background-clip: text;
        color: transparent;

        @media (max-width : 1024px) {
            width: auto;
        }
    }

    h5 {
        font-size: 1.7em;
        transition: ease .50s;
        margin-bottom: $margin;

        @media (max-width: 550px) {
            font-size: 1.4em;
            transition: ease .50s;

        }

        span {
            font-size: 1.5em;
            color: #f15512;
            transition: ease .50s;
        }
    }

    p {
        cursor: pointer;
        transition: ease .50s;

        span {
            color: $color1;
            font-size: 1.3em;
            transition: ease .50s;
        }
    }

    p:hover {
        color: #3b12f1;
        transform: scaleY(1.1);
        transition: ease 0.5s;
        font-weight: bold;

    }
}

.bodyDark .progress_bar {
    .box {
        .boxContent {
            background: #000;
        }
    }

}

// Skill

.progress_bar {
    padding: 30px 2%;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        grid-gap: 4rem;
        align-items: center;
        justify-content: center;

        .boxContent {
            width: 250px;
            position: relative;
            height: 330px;
            border-radius: 10px;
            display: grid;
            background: #fff;
            border: .5px solid var(--clr);
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .svg {
                text-align: center;

                .textxml {
                    font-size: 1.4em;
                    margin: 0 1rem;
                    font-weight: 600;
                }
            }

            .circle {
                position: relative;
                width: 200px;
                height: 200px;
                background: conic-gradient(var(--clr) 3.6deg, #fff 0deg);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                #progressValues,
                #progressValuesCss,
                #progressValuesJs,
                #progressValuesFour {
                    position: relative;
                    color: rgb(0, 153, 255);
                    font-weight: 900;
                }
            }

            .circle::before {
                content: '';
                position: absolute;
                border-radius: 50%;
                width: 90%;
                height: 90%;
                background: #fff;
            }
        }

        .boxContent::after {
            content: '';
            position: absolute;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            background: linear-gradient(45deg, var(--clr), transparent, transparent, var(--clr));
            // background: repeating-conic-gradient(from var(--b), var(--clr) 0%, var(--clr) 5%, transparent 5%, transparent 45%,
            // var(--clr) 50%);
            // background: conic-gradient(#3b12f1 90deg , #fff 0deg, #fff 180deg , #3b12f1 180deg ,#3b12f1 270deg ,  #fff 0deg, #fff 180deg);
            z-index: -1;
            inset: -5px;
            filter: blur(2px);
            border-radius: 10px;

        }

        .boxContent:hover::after {
            animation: animate 2s linear infinite;
        }

        .boxContent:hover {

            .textxml,
            ion-icon {
                color: var(--clr);
                transition: .50s;
                font-size: 1.4em;
                font-weight: 900;

            }
        }
    }
}

@property --b {
    syntax: '<angle>';
    inherits: false;
    initial-value: 30deg;
}

@keyframes animate {
    0% {
        --b: 0deg;
    }

    100% {
        --b: 360deg;
    }
}


//Projects

.Project-container {
    position: relative;
    background: #8404ec;
    height: 75vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .50s;

    h2 {
        position: absolute;
        width: max-content;
        top: .5rem;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(to right, #fd00a9, #f1ed12, #06f5d5, #2ef506);
        background-clip: text;
        color: transparent;

    }

}

.Project-container:hover {
    box-shadow: 18px 0 87px 0 rgba(0, 0, 0, 0.15);
}

.swiper {
    width: 80%;
    height: auto;
    padding: 2% 2%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: linear-gradient(to right, #cf07f7, #06f5d5);
    overflow: hidden;
    height: 20rem;
    cursor: pointer;
    border-radius: 20px;
    transition: .50s;
    box-shadow: 5px 0 87px 0 rgba(0, 0, 0, 0.15);

    .imgSi {
        width: 100%;
        height: 55%;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        overflow: hidden;
        transition: .50s;
        transition-delay: 1s;
        background: linear-gradient(to right, #06f5d5, #cf07f7);

        img {
            width: var(--w);
            height: 100%;
        }
    }

    .content {
        position: absolute;
        bottom: 1rem;
        z-index: 10;
        left: 0;

        a {
            color: #000;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 100;
            position: relative;
            text-decoration: none;

            ion-icon {
                position: absolute;
            }

        }

        a:hover {
            color: #155de3;
        }
    }
}

@media (min-width: 1024px) {
    .swiper-slide-next {
        transform: scale(1.1) !important;
    }
}


.swiper-slide:hover {
    transform: scale(1.1);
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}



// Sub_service

.sub-service {
    padding: 0 8%;

    @media (max-width: 800px) {
        min-height: 100dvh;
    }

}


.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.sub-box {
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;

}

.sub-img img {
    max-width: 100%;
    width: 70px;
    height: auto;
    margin-bottom: 20px;

}

.sub-box h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.sub-box p {
    font-size: var(--p-font);
    color: var(--p-color);
    line-height: 29px;
}

.sub-box:hover {
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgba(10, 15, 70, 0.07);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.0, 1.0, 1.0, 1.0);

}

.bodyDark .sub-box:hover {
    background: #3d3c3c;
}

.bodyDark footer {
    background: #252525;

    p,
    a {
        color: #f5f5f5;
    }

    .foot:hover {
        box-shadow: 0 35px 85px rgba(10, 15, 70, 0.07);
        background: #3d3c3c;
    }
}

@media (max-width: 850px) {
    footer {
        display: grid !important;
    }
}

.nav-itemTrash {
    display: none;
}

footer {
    min-width: 100%;
    height: auto;
    display: flex;
    font-family: cursive;
    text-decoration: none;
    justify-content: center;
    background: #f1f1f1;
    margin: 0;
    padding: 0;
    overflow: hidden;

    h1 {
        font-size: 2em;
        margin-bottom: 1rem;
        font-weight: 900;
    }

    p {
        display: flex;
        align-items: center;
        font-weight: 900;
        color: #3d3c3c;

        a {
            display: flex;
            color: #000;
            // font-size: 1.4em;

        }

        i,
        ion-icon{
            padding: 0 0.5rem;
            color: #000;
            font-size: 1em;
        }
        .copy.Iactive{
            transform: rotate(360deg);
            transition: .40s;
        }
        .copy.Active{
            transform: rotate(-360deg);
            transition: .40s;
        }

    }

    p:hover {
        color: #cf07f7;

        i {
            color: #cf07f7;
        }

        ion-icon:hover{
            color: #2ef506;
        }
    }








    .foot {
        width: 20rem;
        height: auto;
        padding: 2rem;
        margin: 1rem;

        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;

            ul {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    padding: 5px 10px;
                    margin: 0 10px;
                    background: $linear;
                    border-radius: 25%;
                    font-weight: bold;
                    font-size: 1.5em;
                    color: #fff;
                }

                a:hover {
                    transform: scale(1.2);
                    transition: ease .30s;
                    background: linear-gradient(to right, #cf07f7, #06f5d5);
                    color: #fff;
                }
            }
        }
    }

    .foot:hover {
        box-shadow: 0 35px 85px rgba(0, 0, 0, 0.15);
        background: #fff;
    }

    .f1 {
        width: 25rem;
    }

    .f2 {
        width: 22rem;
    }

}

//about