* {
    margin: 0;
    padding: 0;
    font-family: 'itim', cursive;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

//SASS Style

//
.container-fluid {
    width: 100%;
    height: 100dvh;
    background: #e6e6e6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    // background: #fff;
    width: 50%;
    height: 80%;
    // height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .out {
        width: 300px;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: -5px -5px 18px rgba(68, 66, 66, 0.16),
            inset 5px 5px 18px #ab7ee7;

        .inner {
            position: relative;
            width: 100%;
            height: 20%;
            background: rgb(250, 151, 2);
            padding: 10px;
            border-radius: 0 0 0 10px;
            box-shadow: -5px -5px 18px rgba(68, 66, 66, 0.16),
                         inset 5px 5px 18px #ab7ee7;


            input {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                border: none;
                text-align: right;
                font-size: 3em;
                box-shadow: inset 5px 5px 12px rgba(0, 0, 0, .16),
                            inset -5px -5px 12px rgba(0, 0, 0, .16);

            }
        }

        .inner::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            bottom: -15px;
            right: 0;
            background: transparent;
            border-radius: 0 10px 0 0;
            box-shadow: 8px 0px 0 0px #ab7ee7;
        }

        .inner_num {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background: transparent;
            text-align: center;
            width: 100%;
            height: 80%;
            // box-shadow: -5px -5px 18px rgba(68, 66, 66, 0.16),
            //             inset  5px  5px  18px #ab7ee7;

            .num {
                background: rgba(175, 172, 172, 0.16);
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 12px;
                font-weight: 900;
                cursor: pointer;
                font-size: 1.2em;
                border: none;
                box-shadow: inset -5px -5px 18px #ab7ee7,
                    inset 5px 5px 18px rgba(0, 0, 0, .16);
            }

            .active {
                transform: scale(1.1);
                box-shadow: inset -5px -5px 18px rgba(0, 0, 0, .16),
                    inset 5px 5px 18px #ab7ee7;
                
            }
        }
    }
}