<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/arul.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Login page</title>
</head>

<body>
    <section class="side">
        <img src="/img.svg" alt="">
    </section>

    <section class="main">
        <div class="login">
            <p class="line1">Welcome Again</p>
            <div class="seperate"></div>
            <p class="welcome">Please, provide login credential to proceed and have access to all our services</p>

            <form class="form-login" id="FormDataLogin">
                <div class="form-control">
                    <input type="email" class="User" name="Email" placeholder="Email" required="">
                    <i class="fas fa-user"></i>

                </div>
                <div class="msgLogin"></div>
                <div class="form-control">
                    <input type="password" id="Password" name="Password" placeholder="Password" required="">
                    <i class="fas fa-lock"></i>
                </div>

                <button class="submit" value="login">Login</button>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <a href="/SignUp">Create New Account</a>
                </div>

            </form>

        </div>
    </section>

    <script src="/arul.js"> </script>
    
</body>

</html>