<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainejs.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=PT+Sans&display=swap"
        rel="stylesheet">
    <title>Main</title>
</head>

<body>
    <div class="container">
        <div class="projects">
            <div class="project_01">
                <a href="/Dashboard">
                    <img src="/images/project_01.png" alt="">
                </a>
                <b>Project 1</b>
            </div>
            <div class="project_01">
                <a href="https://arul9976.github.io/Cryptotrackerapp/">
                    <img src="/images/project_02.png" alt="">
                </a>
                <b>Project 2</b>

            </div>
        </div>
    </div>
</body>

</html>