<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/arul.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Login page</title>
</head>

<body>
    <section class="side">
        <img src="/img.svg" alt="">
    </section>

    <section class="main">
        <div class="login">
            <p class="line1">Welcome</p>
            <div class="seperate"></div>
            <p class="welcome">Please, provide login credential to proceed and have access to all our services</p>

            <form class="form-login" id="FormDataLogin">
                <div class="form-control">
                    <input type="text" class="User" name="Username" placeholder="Username" required="">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="email" class="email" name="Email" placeholder="Email" required="">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" id="Password" name="Password" placeholder="Password" required="">
                    <i class="fas fa-lock"></i>
                </div>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <b style="margin: 0 10px;">If You Have Already </b>

                    <a href="/Login">Log In</a>
                </div>
                <button class="submit" value="login">SignUp</button>
            </form>

        </div>
    </section>

    <script>
        const formData = document.querySelector('.form-login')
        const formUser = document.querySelector('.form-control > .User')
        const formEmail = document.querySelector('.form-control > .email')
        const formPass = document.getElementById('Password')

        console.log(formData);
        formData.addEventListener('submit', (e) => {
            e.preventDefault()
            let Username = formUser.value
            let Email = formEmail.value
            let Password = formPass.value

            const Formobject = {
                Username: Username,
                Email: Email,
                Password: Password
            }
            console.log(Username, Password);
            fetch('/app/SignUp/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },

                body: JSON.stringify({ Formobject }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        console.log(data)
                        let Data = JSON.stringify(data)
                        localStorage.setItem('Data', Data)
                        window.location.href = '/Dashboard'
                    }
                    else {
                        console.log('no');
                    }
                })
                .catch(err => {
                    console.log('failed', err);
                })

        });
    </script>
</body>

</html>