* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    background-color: #ffffff;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side {
    background: url('images/bk.png') no-repeat;
    background-size: 100% 102%;
}

.side img {
    width: 50%;
    max-width: 50%;
}

.login {
    padding: 24px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
}

.line1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.seperate {
    height: 4px;
    width: 150px;
    background-color: #843bc7;
    margin: 28px;
}

.welcome {
    color: #888;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
}

.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    border-radius: 30px;
    margin-bottom: 14px;

}

.form-control.not {
    border: 2px solid red;
}

.msgLogin {
    margin-bottom: 24px;
    margin-left: 15px;
    color: red;
}

input,
button {
    border: none;
    outline: none;
    font-size: 1.1em;
    text-align: start;
}

input {
    width: 100%;
    background-color: #e7e7e7;
    padding: 14px 60px;
    border-radius: 30px;
    /* text-transform: uppercase; */
    /* letter-spacing: 10px; */
}

input~i {
    position: absolute;
    top: 50%;
    left: 32px;
    color: #888;
    transform: translateY(-50%);
    transition: color 0.4s;
}

input:hover~i {
    color: #843bc7;
}

button {
    color: #fff;
    background-image: linear-gradient(to right, #843bc7, #e03d3d);
    border-radius: 30px;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .50s;
}

button:hover {
    transition: .50s;
    background-image: linear-gradient(to right, #e03d3d, #843bc7);
}

@media(max-width: 750px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
}